@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Garage 3.0</h1>
    <p>
        <h3>Where do you want to start?</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Login">Log in member</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Create">Register member</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">View all members</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="ParkedVehiclesOverview">View all Vehicles</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Create">Register vehicles</a>
            </li>

        </ul>
    </p>
</div>
