@model Uppgift14_Garage30.Models.Member

@{
    ViewData["Title"] = "Login";
}

<h1>Login Member</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Login">
            <div class="form-group">
                <select asp-for="PersonalId" asp-items="ViewBag.Members">
                    <option disabled selected value="">-- Choose user</option>
                </select>
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
